body
{
	font-family: arial, verdana;
	font-size:.8em;
}

#counts
{
	text-align:right;
	color:#666;
}

table
{
	margin:0px;
	padding:0px;
	border:0px solid black;
	width:100%;
	font-size:1em;
	border-collapse:collapse;
}

th
{
	border-bottom:1px solid #ddd;
	margin:0px;
	padding:0px;
}

th ~ th
{
	text-align:center;
}

tr:last-child th
{
	background: #ccc;
}

tr:last-child th ~ th
{
	text-align:right;
}

tr:nth-child(even)
{
	background:#eee;
	padding:0;
	margin:0;
}

td
{
	border:1px solid #ddd;
	margin:0px;
	padding:2px;
/*	width:30%;*/
}

td ~ td
{
	text-align:right;
	width:10em;
}

td.dir
{
	font-weight:bold;
}

td a
{
	text-decoration:none;
}

td a:hover
{
	text-decoration:underline;
}

table#changelog td
{
	font-size:.9em;
	width:15px;
}
table#changelog td + td
{
	width:15px;
	text-align:center;
}

table#changelog td ~ td
{
	white-space:nowrap;
	text-align:left;
}